doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title GradeBook
  // Bootstrap Core CSS
  link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom Fonts
  link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='/vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')
  // Custom CSS
  link(href='/css/stylish-portfolio.min.css' rel='stylesheet')
// Navigation
a.menu-toggle.rounded(href='#')
  i.fas.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand
      a.js-scroll-trigger(href='#page-top') Welcome To My Page
    li.sidebar-nav-item
      a.js-scroll-trigger(href='/GradeBook/teacher' target='__blank') Teacher Login
    
    li.sidebar-nav-item
      a.js-scroll-trigger(href='GradeBook/login' target='__blank') Login for Student
    li.sidebar-nav-item
      a.js-scroll-trigger(href='/GradeBook/signUp' target='__blank') Sign Up
    li.sidebar-nav-item
      a.js-scroll-trigger(href='/GradeBook/update' target='__blank') update
// Header
header.masthead.d-flex
  .container.text-center.my-auto
    h1.mb-1 Welcome To The Grade Book
    h3.mb-5
      em Failure is a pillar of success...
    // Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='/vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for this template
script(src='/js/stylish-portfolio.min.js')
