head
  title  Forgot password 
  link(rel='stylesheet' type='text/css' href='/css/style.css')
form(method='post')
  #login-box
    .left-box
      h1  Forgot Password 
      
      
      input(type='text' name='FirstName' placeholder='First Name')
      input(type='text' name='LastName' placeholder='Last Name')
      input(type='text' name='email' placeholder='Email')
      input(type='password' name='password' placeholder='New Password')
      input(type='password' name='password' placeholder='Repeat Password')
      input(type='submit' name='submit' value='submit')
      

    .right-box