doctype html
head
  title Login Page
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/login.css')
.container

  form(method= 'post' action='')
    .row
      h2(style='text-align:center') Login Here For Student
      .vl
        span.vl-innertext or
      .col
        a.fb.btn(href='https://www.facebook.com/')
          i.fa.fa-facebook.fa-fw
          |  Login with Facebook
        a.twitter.btn(href='https://twitter.com/')
          i.fa.fa-twitter.fa-fw
          |  Login with Twitter
        a.google.btn(href='https://www.instagram.com/?hl=en')
          i.fa.fa-google.fa-fw
          |  Login with Instragram
      .col
        .hide-md-lg
          p Or sign in manually:
        input(type='text' name='email' placeholder='Email' required='required')
        
        input(type='password' name='password' placeholder='Password' required='required')
        
        input(type='submit' value='Login')
.bottom-container
  .row
    .col
      a.btn(href='/GradeBook/signUp' style='color:white') Sign up
    .col
      a.btn(href='/GradeBook/forgot' style='color:white') Forgot password?
