head
  title  Update Student 
  link(rel='stylesheet' type='text/css' href='/css/style.css')
form(method='post' action='/GradeBook/update')
  #login-box
    .left-box
      h1  Update Box 
      input(type='text' name='FirstName' placeholder='First Name')
      input(type='text' name='LastName' placeholder='Last Name')
      input(type='text' name='email' placeholder='Email')
      input(type='number' name='test1' placeholder='Test 1 Score')
      input(type='number' name='test2' placeholder='Test 2 Score')
      input(type='number' name='test3' placeholder='Test 3 Score')
      
      input(type='submit' name='Update' value='update')
      //input(type='submit' name='Log out' value='Log out')

    .right-box
