table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: right;
  }
  table#t01 {
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    background-color: #f1f1c1;
  }
  